/vcpkg_installed/
/vcpkg_packages/
/build/
.vs/
build_env_config.json
*.obj
*.exe
*.pdb
*.log
CMakeFiles/
CMakeCache.txt
*.cmake
!vcpkg-overlay-ports/**/*.cmake
*.sln
*.vcxproj
*.user
*.filters
x64/
Debug/
Release/
